ICLOUD_USERNAME=email@example.com
ICLOUD_APP_PASSWORD=MySecureAppPassword
PORT=7500

# Bearer Authentication Token required for accessing PMCP
PMCP_ENABLE_AUTH=true
PMCP_TOKEN=MySecureBearerToken

# Allowed origins to access PMCP - divided by comma (",")
PMCP_ALLOWED_ORIGINS=

# Allowed hosts to access PMCP
PMCP_ALLOWED_HOSTS=chatgpt.com,localhost:7500,127.0.0.1:7500

# Tool selection
PMCP_ENABLE_CALENDAR=true
PMCP_ENABLE_CONTACTS=true